html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.italic {
  font-style: italic;
}
.main {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.section-gray {
  background: #eeeeee;
}
@media (max-width: 991px) {
  .section-gray {
    background: #eeeeee;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  z-index: 2;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.heading {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Luthier Bold";
}
.heading:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  margin: 20px auto 20px;
  background: #4fbfa8;
}
h4.heading {
  margin-bottom: 20px;
}
h4.heading:after {
  margin: 10px auto 20px;
  background: #4fbfa8;
}
.img-responsive {
  margin: 0 auto;
}
.box {
  margin-bottom: 30px;
}
.content {
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 3;
}
@media (max-width: 1000px) {
  .content {
    position: relative;
    padding: 80px 0;
    top: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#page1 {
  text-align: center;
  color: #fff;
}
#page1 h1,
#page1 h2,
#page1 h3 {
  color: #fff;
  font-size: 1.8em;
  font-family: "San Francisco Bold";
}
@media (max-width: 768px) {
  #page1 h1,
  #page1 h2,
  #page1 h3 {
    font-size: 1.2em;
  }
}

#page1 p {
  font-size: 20px;
}
#page1 .icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  z-index: 3;
}
body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}

/* scaffolding */
body {
  font-family: "Luthier";
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #4fbfa8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #348e7b;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 0;
}
hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.pager {
  margin: 22px 0;
  border-top: solid 1px #eeeeee;
  padding-top: 22px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  background-color: #ffffff;
  border: 1px solid #4fbfa8;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #fff;
  background-color: #4fbfa8;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  border-color: #ddd;
}
/* pagination */
.pagination {
  margin: 22px 0;
  font-family: 'Montserrat', sans-serif;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #4fbfa8;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #4fbfa8;
  background-color: #bfe8df;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 31px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 16px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 22px;
}
p {
  margin: 0 0 22px;
}
.lead {
  margin-bottom: 22px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .lead {
    font-size: 24px;
  }
}
.text-small {
  font-size: 12px;
}
.text-large {
  font-size: 20px;
}
.text-italic {
  font-style: italic;
}
.text-primary {
  color: #4fbfa8;
}
a.text-primary:hover {
  color: #3aa18c;
}
.bg-primary {
  color: #fff;
  background-color: #4fbfa8;
}
a.bg-primary:hover {
  background-color: #3aa18c;
}

/* --- page1 --- */
#page1 {
  background: url('../images/background_slide1_culture.jpg') center center no-repeat;
  background-size: cover;
}

#page1 .content-head {
  position: relative;
  height: 100vh;
}

.content-head .to-bottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.row-page1 {
  height: 100%;
}

.vignette {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vignette h3 {
  margin-top: 10px;
}

.vignette_red {
  background-color: #D93040;
}

.vignette_black {
  background-color: #21190E;
}

.icone-vignette {
  width: 10vw;
}

@media (max-width: 768px) {
  .icone-vignette {
    width: 20vw;
  }
}


a:link {
  text-decoration: none;
}

/* ---- PAGE 2 ---- */
#page2 .clearfix {
  height:100%;
}

#page2 div.clearfix .row {
  height: 100%;
}

.descr-monuments {
  height: 100%;
}

.descr-monuments .row {
  display: flex;
}

.content-descr {
  flex-direction: column;
  align-self: center;
  padding: 6vh 4vw;
}

.menu-nav {
  height: 35vh;
}

.clearfix .row div.photo-monuments .row {
  height: 33.3333vh !important;
}

@media (max-width: 768px) {
  .clearfix .row div.photo-monuments .row {
    height: 50vh !important;
  }
}

#culture-image1 {
  background-image: url("../images/culture-image1.jpg");
}

#culture-image2 {
  background-image: url("../images/culture-image2.jpg");
}

#culture-image3 {
  background-image: url("../images/culture-image3.jpg");
}

#culture-image4 {
  background-image: url("../images/culture-image4.jpg");
}

#culture-image5 {
  background-image: url("../images/culture-image5.jpg");
}

#culture-image6 {
  background-image: url("../images/culture-image6.jpg");
}

.photo-monuments .row .vignette-photo-monuments {
  height: 100%;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-monuments .row .vignette-photo-monuments img {
  width: 100%;
}

/* --- Page3 --- */
.content-museum {
  height: 100vh;
}
.content-museum .clearfix {
  height: 100%;
}
#page3 .content-museum .clearfix .row {
  height: 50vh;
}
.content-museum .clearfix .row-museum1 div:first-child, #page3 .content-museum .clearfix .row-museum2 div:last-child {
  height: 100%;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}
.content-museum .clearfix .row ~ div img {
  transform: translateY(-20%);
}

.museum-data {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6vh 3vw;
}

/* --- Page 4 --- */
#page4 .clearfix {
  height:100%;
}

#page4 div.clearfix .row {
  height: 100vh;
}

.photo-traboules .row {
  height: 50vh !important;
}

#culture-traboule1 {
  background-image: url("../images/culture-traboule1.jpg");
}

#culture-traboule2 {
  background-image: url("../images/culture-traboule2.jpg");
}

#culture-traboule3 {
  background-image: url("../images/culture-traboule3.jpg");
}

#culture-traboule4 {
  background-image: url("../images/culture-traboule4.jpg");
}

.photo-traboules .row .vignette-photo-traboules {
  height: 100%;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo-traboules .row .vignette-photo-traboules img {
  width: 100%;
}

.page4-right-content {
  display: flex !important;
}





