html, body, .container{
    height: 100%;
}

body{
    background-image: url(../images/backgroundOuMangerSombre.jpg);
    background-position: top;
    background-attachment: fixed;
}

#filtreOuManger{
    margin-top: 12em;
    margin-bottom: 5em;
    margin-left: 2.5em;
    text-align: center;
}

#filtreOuManger a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

.row.lieuRestauration{
    height: 100%;
    width: 80%;
    position: absolute;
}

.carteLieu{
    background: #F9F1E8;
    height: 50%;
    margin-left: 4em;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 2%;
    margin-bottom: 2em;
}

.imgEtablissement{
    width: 110.2%;
    height: 55%;
    margin-left: -2%;
    border-radius: 2%;
}

.typeEtab{
    color: #D93040;
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
    margin-left: 0.5em;
    height: 5%;
    width: 100%;
}

.nomEtab{
    color: #21190E;
    font-size: 15pt;
    text-align: center;
    width: 100%;
    margin-top: -0.6em;
}

.desc{
    text-align: justify;
    margin: 0 1em 1em 1em;
}

.plan{
    text-align: center;
}

.bg_plan{
    background-color: white;
    opacity: 0.8;
    width: 20%;
    margin-left: 40%;
    border-radius: 20px;
    margin-top: 60em;
}

@media (max-width: 640px){
    .carteLieu{
        height: 65%;
        width: 80%;
    }
    
    .imgEtablissement{
        height: 30%;
        margin-left: -5%;
    }
    
    .typeEtab{
        margin-top: -7em;
    }
    
    .nomEtab{
        margin-top: -6em;
    }
    
    .desc{
        margin-top: -8em;
    }
    
    .plan, .bg_plan{
        margin-top: 110em;
    }
    
    .bg_plan{
        width: 45%;
    }
}