html, body, .container{
    height: 100%;
}

body{
    background-image: url(../images/backgroundOuDormir.png);
    background-position: center;
}

#filtreOuDormir{
    margin-top: 12em;
    margin-bottom: 5em;
    margin-left: 2.5em;
    text-align: center;
}

#filtreOuDormir a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
}

.row.lieuRepos{
    height: 100%;
    width: 80%;
    position: absolute;
}

.carteLieu{
    background: #F9F1E8;
    height: 40%;
    margin-left: 4em;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 2%;
    margin-bottom: 2em;
}

.imgEtablissement{
    width: 116.4%;
    height: 55%;
    margin-left: -8%;
    border-radius: 2%;
}

.typeEtab{
    color: #D93040;
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
    margin-left: 0.5em;
    height: 5%;
    width: 100%;
}

.nomEtab{
    color: #21190E;
    font-size: 15pt;
    text-align: center;
    width: 100%;
    margin-top: -0.6em;
}

.desc{
    text-align: justify;
    margin: 0 1em 1em 1em;
}

.plan{
    text-align: center;
}

.bg_plan{
    background-color: white;
    opacity: 0.8;
    width: 20%;
    margin-left: 40%;
    border-radius: 20px;
}