/* ---- Déclaration des polices ---- */
/* Luhier */
@font-face {
    font-family: "Luthier";
    src: url("./font/Luthier-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Luthier Bold";
    src: url("./font/Luthier-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Luthier Bold Italic";
    src: url("./font/Luthier-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Luthier Italic";
    src: url("./font/Luthier-Italic.ttf") format("truetype");
}

/* San Francisco */
@font-face {
    font-family: "San Francisco";
    src: url("./font/SanFranciscoDisplay-Regular.otf") format("truetype");
}

@font-face {
    font-family: "San Francisco Light";
    src: url("./font/SanFranciscoDisplay-Light.otf") format("truetype");
}

@font-face {
    font-family: "San Francisco Bold";
    src: url("./font/SanFranciscoDisplay-Bold.otf") format("truetype");
}

/* MENU HTML */
#logoNavbar{
  width: 158px;
  height: 95px;
  margin-top: -600%;
}
.image {
  background-color: #490D40;
  background: url(https://sonorangirl.github.io/Earth-Quotes/img/google-earth-view-South-Iceland3.jpg) no-repeat center center;
  background-size: cover;
  height: 570px;
  margin-top: -20px;
}
.image .heading {
  color: white;
  text-align: center;
  padding-top: 200px;
}
.image p {
  text-align: center;
  padding: 20px 60px;
}
.image p .btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  font-size: 1.2em;
}
.image p .btn:hover {
  color: #C57ED3;
  border-color: #C57ED3;
}

.navbar {
  height: 80px;
  opacity:0.9;
  border: none;
  color: white;
  z-index: 100;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
}

.navbar-brand{
    width: 20%;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
  color: white;
}
/*.navbar-default .navbar-brand:hover {
  color: #21190E;
  border: 1px solid #C57ED3;
}*/
.navbar-default .navbar-nav > li > a {
  color: #21190E;
  margin: 15px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #21190E;
  border: 1px solid #D93040;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #21190E;
  text-decoration: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #D93040;
}
.navbar-default .navbar-toggle {
  border-color: #21190E;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #21190E;
  background-color: #21190E;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: white;
}

/* Solid class attached on scroll past first section */
/*.navbar.solid {
  background-color: #D93040;
  -webkit-transition: background-color 1s ease 0s;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #21190E;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}
./*navbar.solid .navbar-nav > li > a {
  color: #21190E;
  -webkit-transition: color 1s ease 0s;
  transition: color 1s ease 0s;
}*/

.about {
  background-color: #21190E;
  color: #D93040;
  height: 600px;
  text-align: center;
  margin-top: -20px;
}
.about h2 {
  padding-top: 220px;
}
.about p {
  padding: 20px 80px;
}
